
/* début style corps de page indexhtml */
* {
  margin: 0; 
  padding: 0;
}

section{
  width: 100%;
  min-height: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu-ind:hover, .presentation{
  border-top: 5px solid #4C8;
  background-color: rgba(64, 200, 130, 0.15);
}
.menu-cour:hover, .Montessori{
  border-top: 5px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}
.menu-plan:hover, .specificites{
  border-top: 5px solid #0070dd;
  background-color: rgba(000, 112, 192, 0.15);
}
.menu-even:hover, .finalites{
  border-top: 5px solid #e44de6;
  background-color: rgba(228, 77, 38, 0.15);
}
.menu-cont:hover, .equipe{
  border-top: 5px solid #ff6347;
  background-color: rgba(255, 165, 0, 0.15);
}
.sec{
  margin: 0px 10%;
}
h1{
  font-family: 'Neucha', cursive;
  font-size: 28px;
  margin: 20px 0px 0p 0px;
}
.left{
  float: left;
  width: 50%;
}
.right{
  height: 300px;
  width: 400px;
  color: white;
  font-weight: bold;
  float: right;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
}
.first-p0 {
  text-align: center;
  background:  #4C8;
  height: 100%;
  width: 400px;
  /* border: black solid 2px; */
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
}
#p0{
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
  background:  #92e6b2;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.first-p1 {
  /* text-align: center; */
  background: #ffc30f;
  height: 100%;
  width: 400px;
  /* border: black solid 2px; */
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
}
.p1{
  background:  #FFD700;
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
  /* line-height: 1.5; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-p2 {
  text-align: center;
  background:  #0070dd;
  height: 100%;
  width: 400px;
  /* border: black solid 2px; */
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
}
.p2{
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
  background:  #5898d8;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.first-p3 {
  text-align: center;
  background:  #b3005c;
  height: 100%;
  width: 400px;
  /* border: black solid 2px; */
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
}
.p3{
  background:  #ff4da9;
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p3F{
  background:  #ff4da9;
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-p4 {
  text-align: center;
  background: tomato;
  height: 100%;
  width: 400px;
  /* border: black solid 2px; */
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
}
.title-heading{
    font-size: 32px;
    text-align: center;
}
.first-p4 .title-heading:last-child{
    font-size: 26px;
    text-align: center;
}
.p4{
  background: #ffb380;
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
  /* c'est le style qui définit la liaison de la forme de tete avec les oreilles */
  .MAT{
    color: white;
    font-size: 30px;
    padding: 100px;
    width: 100px;
    height: 80px;
    background: #ffc30f;
    border-radius: 20% 80% 77% 23% / 57% 55% 45% 43% 
  }
.c1{
  background: #ffcc00;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
  font-weight: bold;
  font-style: oblique;
  font-family: 'Rampart One', cursive;
  font-size: 15px;
}

  .c2{
    background: #FFFF00;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .c3{
    background:  #cca333;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .c4{
    background: #FFD700;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .c5{
    background: #e6b81a;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37%;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  /* fin style corps index.htlm */
  .cer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: white;
  }
/* Suppression de la margin-right et rajout de padding */
  .cercle{
    color: white;
    padding: 5rem;
    width: 5rem;
    height: auto;
    /* margin-right: -15px; */
    text-align: center;
    /* mix-blend-mode: multiply; */
  }
  .c0{
    background: #ffc30f;
    border-radius: 50% 50% 47% 53% / 27% 27% 73% 73% ;
    font-size: 30px;
    padding: 100px;
    width: 100px;
    height: 80px;
  }
  .cm0{
    background:  #0070dd;
    border-radius: 50% 50% 47% 53% / 27% 27% 73% 73% ;
    font-size: 30px;
    padding: 100px;
    width: 100px;
    height: 80px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cm1{
    background: #66ccff;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cm2{
    background: #80bfff;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cm3{
    background: #80bfff;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cm4{
    background: #99ccff;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .cm4 p {
    /* border: 1px solid #888; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  margin-bottom: 10px;

  }
  .cm5{
    background: #b3d9ff;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cELM0{
    background: #ffb3d9;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cELM2{ 
    background: #ff99cc;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cELM3{
    background: #ffcce6;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .cELM4{
    background:  #d199d1;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    font-size: 15px;
  }
  .LANG1{
      background:    #ff5733;
      margin: auto;
      border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px; 
      height: 80px; 
  }
  .c1P{
    background: #ff665c;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    /* font-size: 10px; */
  }
  .c3P{
    background: #ff667a;
    border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    /* font-size: 10px; */
  }
  .LANG0{
    background: #ff8566;
    border-radius: 40% 60% 60% 40% / 75% 100% 0% 25%  ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    /* font-size: 10px; */
  }
  .LANG2{
    background:  #ff8566;
    border-radius: 40% 60% 60% 40% / 75% 100% 0% 25%  ;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    /* font-size: 10px; */
  }
  .LANG3{
    background: #ff9980;
    border-radius: 50% 50% 100% 0% / 63% 65% 35% 37%;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Rampart One', cursive;
    /* font-size: 10px; */
  }
    section{
      width: 100%;
      min-height: 300px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .MAT{
      color: white;
      font-size: 30px;
      padding: 100px;
      width: 100px;
      height: 80px;
      background: #ffc30f;
      border-radius: 20% 80% 77% 23% / 57% 55% 45% 43% 
    }
    .c1{
      background: #ffcc00;
      border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
      font-weight: bold;
      font-style: oblique;
      font-family: 'Rampart One', cursive;
      font-size: 15px;
      
    }
    .c2{
      background: #FFFF00;
      border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
      font-weight: bold;
      font-style: oblique;
      font-family: 'Rampart One', cursive;
      font-size: 15px;
    }
    .c3{
      background:  #cca333;
      border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
      font-weight: bold;
      font-style: oblique;
      font-family: 'Rampart One', cursive;
      font-size: 15px;
    }
    .c4{
      background: #FFD700;
      border-radius: 50% 50% 100% 0% / 63% 65% 35% 37% ;
      font-weight: bold;
      font-style: oblique;
      font-family: 'Rampart One', cursive;
      font-size: 15px;
    }
    .c5{
      background: #e6b81a;
      border-radius: 50% 50% 100% 0% / 63% 65% 35% 37%;
      font-weight: bold;
      font-style: oblique;
      font-family: 'Rampart One', cursive;
      font-size: 15px;
    }
  
   
  @media screen and (max-width: 680px){
    body{background-color: green;
    }
  }
  @media screen and (min-width: 681px) and (max-width: 1279px){
    body{background-color: red;
      }
      h1{
        font-size: 20px;
      }
    }
  
  @media screen and (min-width: 1280px) and (max-width: 1279px){
    body{background-color: red;
      }
      h1{
        font-size: 20px;
      }
    }
  
  @media screen and (max-width: 920px){
  form .corps-formulaire .droite{
    margin-left: 0px;
  }
  }
  
  