
  *{
    margin: 0; 
    padding: 0;
  }
  html{
    font-size: 62.5%;
  }
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("page-web.jpg");
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    
}
 nav h1 {
  font-size: 30px;
  font-weight: normal;
  text-transform: capitalize;
  color:white; 
  margin: auto 18rem;
  padding: 4rem;
  justify-content: baseline;
  margin-bottom: 3rem;
}
#sidebar {
position: fixed;
width: 10rem;
height: auto;
top: 15%;
right: 0;
bottom: 100%;
left: 0;
}
nav{
  width: 100%;
}
nav > ul{
  margin: 0px;
  padding: 0px;
}
nav > ul > li{
  float: left;
  position: relative;
}
nav > ul::after{
  content: "";
  display: block;
  clear: both;
}
nav > ul > li > a{
  padding: 20px 30px;
  color: white;
}
nav li{
  list-style-type: none;
}
.submenu{
  display: none;
}
nav a{
  display: inline-block;
  text-decoration: none;
}
nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}
.submenu li{
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: auto;
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}


footer{
  height: 150px;
  padding-top: 40px;
  text-align: center;
  background-color: #FC427B;
  border-top: 2px solid #aaa;
  color: white;
}
nav{
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  height: 20rem;
  flex-direction: column;
}
nav a img{
  height: 15rem;
  width: 15rem;
  top: 2rem;
  left: 2rem;
  position: absolute;
}

nav ul{
display: flex;
margin: 0 auto;
justify-content: flex-end;
position: fixed;
top: 2rem;
right: 2rem;
}
nav li{
  font-size: 15px;
  list-style-type: none;
  /* float: right; */
  flex-direction: column;
/* justify-content: right; */
align-items: flex-end;
justify-content: flex-end;
}
nav a{
  /* display: inline-block; */
  text-decoration: none;
  padding: 30px 30px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 30px;
}
.menu-ind:hover, .presentation{
  border-top: 5px solid #4C8;
  background-color: rgba(64, 200, 130, 0.15);
}
.menu-cour:hover, .Montessori{
  border-top: 5px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}
.menu-plan:hover, .specificites{
  border-top: 5px solid #0070dd;
  background-color: rgba(000, 112, 192, 0.15);
}
.menu-even:hover, .finalites{
  border-top: 5px solid #e44de6;
  background-color: rgba(228, 77, 38, 0.15);
}
.menu-cont:hover, .equipe{
  border-top: 5px solid #ff6347;
  background-color: rgba(255, 165, 0, 0.15);
}
.menu-ind .submenu{
  background-color:  #4C8;
  width: 300px;
}
.menu-cour .submenu{
  background-color:  #f1dc4f;
  width: 300px;
}
.menu-plan .submenu{
  background-color:  #0070dd;
  width: 300px;
}
.menu-even .submenu{
  background-color:  #e44de6;
  width: 300px;
}
.menu-cont .submenu{
  background-color:  #ff6347;
  width: 300px;
}
.submenu li:hover a{
  color: #eee;
  font-weight: bold;
}
.menu-ind .submenu li:hover{
  background-color:  rgba(64, 200, 130, 0.15);
}
.menu-cour .submenu li:hover{
  background-color: rgba(241, 211, 79, 0.15);
}
.menu-plan .submenu li:hover{
  background-color:  rgba(000, 112, 192, 0.15);
}
.menu-even .submenu li:hover{
  background-color:  rgba(228, 77, 38, 0.15);
}
.menu-cont .submenu li:hover{
  background-color:  rgba(255, 165, 0, 0.15);
}
nav li:hover a{
  padding:  15px 20px 30px;
}
section{
  width: 100%;
  min-height: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
sec{
  margin: 0px 10%;
}
sec::after, exp::after, .reco::after{
  content:"";
  display: table;
  clear:both;
}
.title{
  font-size: 30px;
  font-family: cursive;
  color: white;
  width: 50%;
  text-align: center;
}
}
/* .sec h1{ */
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: inset 0 0 1em green, 0 0 2em red;
}
/*#sec1{
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: inset 0 0 1em gold, 0 0 2em red;
}
#sec2{
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: inset 0 0 1em gold, 0 0 2em red;
}
#sec3{
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: inset 0 0 1em  #0070dd, 0 0 2em red;
}
#sec4{
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: inset 0 0 1em #e44de6, 0 0 2em red;
}
#sec5{
  font-size: 30px;
  text-transform: capitalize;
  box-shadow: inset 0 0 1em tomato, 0 0 2em red;*/
}
.MAT{
  color: white;
  font-size: 30px;
  padding: 100px;
  width: 100px;
  height: 80px;
  background: #ffc30f;
  border-radius: 20% 80% 77% 23% / 57% 55% 45% 43% 
}
.cer{
  display: flex;
  justify-content: center;
  padding: 20px;
  background: white;
}
.cercle{
  color: white;
  padding: 50px;
  width: 50px;
  height: 10px;
  margin-right: -15px;
  mix-blend-mode: multiply;
}
.c0{
  background: #ffc30f;
  border-radius: 50% 50% 47% 53% / 27% 27% 73% 73% ;
  font-size: 30px;
  padding: 100px;
  width: 100px;
  height: 80px;
}
.c1{
  background: #ffc30f;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.c2{
  background: #f3e45863;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.c3{
  background: #bbc43c;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.c4{
  background: rgb(195, 216, 119);
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.c5{
  background: #a59050;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cm0{
  background:  #0070dd;
  border-radius: 50% 50% 47% 53% / 27% 27% 73% 73% ;
  font-size: 30px;
  padding: 100px;
  width: 100px;
  height: 80px;
}
.cm1{
  background: hsl(241, 93%, 70%);
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cm2{
  background: hsl(250, 78%, 78%);
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cm3{
  background: #ccc6f0;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cm4{
  background: #88a0b4;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cm5{
  background: #686386;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.F1{
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
}

.F2{
  font-size: 30px;
  text-transform: capitalize;
text-indent: 80px;
}
.F3{
  font-size: 30px;
  text-transform: capitalize;
  text-indent: 140px;
}
.F4{
  font-size: 30px;
  text-transform: capitalize;
 text-indent: 260px; 
}
.F5{
  font-size: 30px;
  text-transform: capitalize;
  text-indent: 350px;
}

.cELM1{
  background:   palevioletred;
  border-radius: 50% 50% 47% 53% / 27% 27% 73% 73% ;
  font-size: 30px;
  padding: 100px;
  width: 100px;
  height: 80px;
}
.cELM2{
  background: #ffc30f;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cELM3{
  background: #ff5733;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
.cELM4{
  background: palevioletred;
  border-radius: 46% 54% 54% 46% / 57% 97% 3% 43% ;
}
  .LANG1{
    background:    #ff5733;
    border-radius: 50% 50% 47% 53% / 27% 27% 73% 73% ;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    width: 150px;
    height: 80px;
}
.LANG2{
  background: #ffc30f;
  border-radius: 40% 60% 60% 40% / 75% 100% 0% 25%  ;
}
.LANG3{
  background: #ff5733;
  border-radius: 50% 50% 96% 4% / 66% 62% 38% 34%    ;
}
#fb, #tw, #lk{
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
}
#fb{
  background-image: url("logos-sociaux.png");
  background-position: 0px 0px;
}
#tw{
  background-image: url("logos-sociaux.png");
  background-position: -50px 0px;
  left: 200px;
}
#lk{
  background: url("logos-sociaux.png") --100px -50px;
  left: 400px;
}
  h1{
    font-family: 'Neucha', cursive;
    font-size: 28px;
    margin: 20px 0px 0p 0px;
    /*color: fuchsia;*/
  }
  nav li a{
    font-size: 12px;
    padding: 10px;
  }
  nav li:hover a{
    padding: 5px 10px 10px 10px;
  }
  section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .sec{
    margin: 0px 10%;
  }
  .left{
    float: left;
    width: 50%;
  }
  .right{
    text-align: center;
    height: 300px;
    width: 400px;
    color: white;
    font-weight: bold;
    float: right;
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;
  }

  .first-p0 {
    text-align: center;
    background:  #4C8;
    height: 100%;
    width: 400px;
    /* border: black solid 2px; */
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;

  }

  .first-p1 {
    text-align: center;
    background: #ffc30f;
    height: 100%;
    width: 400px;
    /* border: black solid 2px; */
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;

  }
  .first-p2 {
    text-align: center;
    background:  #0070dd;
    height: 100%;
    width: 400px;
    /* border: black solid 2px; */
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;

  }
  .first-p3 {
    text-align: center;
    background:  #e44de6;
    height: 100%;
    width: 400px;
    /* border: black solid 2px; */
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;

  }
  .first-p4 {
    text-align: center;
    background: tomato;
    height: 100%;
    width: 400px;
    /* border: black solid 2px; */
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73% ;

  }

  #p0{
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
    background:  #92e6b2;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #p1{
    background: #e7cf85;
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #p2{
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
    background:  #5898d8;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  #p3{
    background:  #e192e2;
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #p4{
    background: rgb(245, 205, 199);
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 49% 51% 50% 50% / 27% 27% 73% 73%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
@media screen and (max-width: 780px) {
  header{
    height: 50px;
  }
}
/* main{
    margin: 0 2rem;
    padding: 1rem;
    position: relative;
} */