
  *{
    margin: 0; 
    padding: 0;
  }
  html{
    font-size: 62.5%;
  }
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("page-web.jpg");
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    
}
 nav h1 {

  font-size: 30px;
  font-weight: normal;
  text-transform: capitalize;
  color:white; 
  margin: auto 18rem;
  padding: 4rem;
  justify-content: baseline;
  margin-bottom: 3rem;

  
}

  

 footer{
  height: 150px;
  padding-top: 40px;
  text-align: center;
  background-color: #FC427B;
  border-top: 2px solid #aaa;
  color: white;
}

nav{
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  height: 20rem;
  flex-direction: column;

}
nav a img{
  height: 15rem;
  width: 15rem;
  top: 2rem;
  left: 2rem;
  position: absolute;

}

nav ul{
display: flex;
margin: 0 auto;
justify-content: flex-end;
position: fixed;
top: 2rem;
right: 2rem;

}

nav li{
  list-style-type: none;
  /* float: right; */
  flex-direction: column;
/* justify-content: right; */
align-items: flex-end;
justify-content: flex-end;

}

nav a{
  /* display: inline-block; */
  text-decoration: none;
  padding: 20px 30px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
}
.menu-ind:hover{
  border-top: 5px solid #4C8;
  background-color: rgba(64, 200, 130, 0.15);
}
.menu-cour:hover{
  border-top: 5px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}
.menu-plan:hover{
  border-top: 5px solid #0070dd;
  background-color: rgba(000, 112, 192, 0.15);
}
.menu-even:hover{
  border-top: 5px solid #e44de6;
  background-color: rgba(228, 77, 38, 0.15);
}
.menu-cont:hover:hover{
  border-top: 5px solid #ff6347;
  background-color: rgba(255, 165, 0, 0.15);
}
nav li:hover a{
  padding:  15px 20px 30px;
}
section{
  width: 100%;
  min-height: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
sec{
  margin: 0px 10%;
}
left{
  float:left;
  width: 30%;
}
right{
  float: left;
  width: 70%;
}
cleft, .cright, .sousleft, .sousright{
  width: 50%;
  float: left;
}
sec::after, exp::after, .reco::after{
  content:"";
  display: table;
  clear:both;
}
leftexp a img{
  height: 15rem;
  width: 15rem;
  position: absolute;
}
block,
rightexp li{
  border: 2px solid rebeccapurple;
  padding: 5rem;
}
.title{
  font-size: 30px;
  font-family: cursive;
  color: white;
  width: 50%;
  text-align: center;
}
#F{
  font-size: 30px;
  font-family: cursive;
  color: white;
  width: 50%;
  text-align: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  
}
#F1{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 128, 0);
  
  
}
#F2{
  font-size: 20px;
  font-family: cursive;
  color: white;
  font-family: cursive;
  background-color: rgb(255, 153, 0);

}
#F3{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 179, 0);
  font-family: cursive;
  
}
#F4{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 204, 0);
}
#F5{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 230, 0);
}
#M{
  font-size: 30px;
  font-family: cursive;
  color: white;
  width: 50px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
#M1{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(230, 0, 255);
  
}
#M2{
  font-size: 20px;
  font-family: cursive;
  color: white;
  font-family: cursive;
  background-color: rgb(255, 0, 255);
}
#M3{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 0, 230);
  font-family: cursive;
  color: white;
}
#M4{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 161, 236);
}
#M5{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(255, 204, 245);
}
#EM{
  font-size: 30px;
  font-family: cursive;
  color: white;
  width: 50px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
#EM1{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(153, 255, 255);
  
}
#EM2{
  font-size: 20px;
  font-family: cursive;
  color: white;
  font-family: cursive;
  color: white;
  background-color: rgb(163, 250, 250);
}
#EM3{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: rgb(199, 255, 255);
  font-family: cursive;
  color: white;
}
#L{
  font-size: 30px;
  font-family: cursive;
  color: white;
  width: 50%;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
#L1{
  font-size: 20px;
  font-family: cursive;
  color: white;
  background-color: #ffcccc;
}
#vert1{
  border-top: 5px solid #e44c96;
  background-color: rgba(228, 77, 128,0.15);
  margin-bottom: 0px;
}


}




@media screen and (max-width: 780px) {
  header{
    height: 50px;
  }
  h1{
    font-size: 28px;
    margin: 20px 0px 0p 0px;

  }
  nav li a{
    font-size: 12px;
    padding: 10px;
  }
  nav li:hover a{
    padding: 5px 10px 10px 10px;
  }
  .F1


  }


    
  }
 background: linear-gradient(rgba(238, 15, 15, 0.7), rgba(0, 0, 0, 0.7));
#page-bg{}

  url("seyes.jpg") center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
}
<main{
    margin: 0 2rem;
    padding: 1rem;
    position: relative;
    }


<h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-transform: capitalize;
    text-align: center;
        color: fuchsia; 
  text-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  font-size: 30px;
}
<div1{
  background-color: -webkit-linear-gradient(left, red, orange, blue);
  background-color:  -o-linear-gradient(right, red, orange, blue);
  background-color:  -moz-linear-gradient(right, red, orange, blue);
  background-color: linear-gradient(to right, red, orange, blue);
}

<h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
    text-align: center;
    color: fuchsia; 
  text-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  font-size: 30px;
}
<h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
    text-align: center;
    color: fuchsia; 
  text-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  font-size: 30px;
}
<h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
    text-align: center;
    color: fuchsia; 
  text-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  font-size: 30px;
}
<h6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
    text-align: center;
    color: fuchsia; 
  text-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  font-size: 30px;
}
<h7{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-size: 15px;
    text-align: center;
   height: 15px;
  background-color: white;
   text-align: center;
    color: #FC427B;

}




ph1{
  background-color: ;
}
<p2{
  color: #000ff0;
  height: 200px;
  width: 100%;
  padding: auto 0 auto 0 ;
  border-radius: 4rem;
  background-color: whitesmoke;
  box-shadow: 0rem 1rem 5rem rgb(120, 120, 120);
  text-align: center;
  display: inline;
  border: 1px solid black;
}
<p3{
color: #000ff0;
height: 200px;
width: 100%;
padding: auto 0 auto 0 ;
border-radius: 4rem;
background-color: whitesmoke;
box-shadow: 0rem 1rem 5rem rgb(120, 120, 120);
text-align: center;
display: inline;
border: 1px solid black;
}
<p4{
  color: #000ff0;
  height: 200px;
  width: 100%;
  padding: auto 0 auto 0 ;
  border-radius: 4rem;
  background-color: whitesmoke;
  box-shadow: 0rem 1rem 5rem rgb(120, 120, 120);
  text-align: center;
  display: inline;
border: 1px solid black;
}
<p5{
  color: #000ff0;
  height: 200px;
  width: 100%;
  padding : auto 0 auto 0 ;
  border-radius: 4rem;
  background-color: whitesmoke;
  box-shadow: 0rem 1rem 5rem rgb(120, 120, 120);
  text-align: center;
  display: inline;
  border: 1px solid black;
}
<p6{
color: ;
height: auto;
padding: auto;
background: 3px;
border-radius: 3rem;
}
<p7{
  color: ;
height: auto;
padding: auto;
background: 2px;
border-radius: 2rem;
}
<p8{
  color: ;
  height: auto;
  padding: auto;
  background: 2px;
  border-radius: 2rem;
}
.mat{
  font-size: 50px;
  font-weight: normal;
  text-transform: capitalize;
  color:fuchsia;
}
.F{
color: #FFF;
font-size: 20px;
font-family: georgia,palatino,'book antiqua','palatino linotype',serif;
background-color: aqua;
}
.F1{
  color: #FFF;
}
.F2{
  color: #FFF;
}
.F3{
  color: #FFF;
}
.F4{
  color: #FFF;
}
.case{

}

{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: black;
}
planning{
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 5;
  font-family: verdana, sans-serif;

  background-color: crimson;
  background-image: url('ardoise.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-attachment: center;

  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 1px;

  border-width: 5px;
  border-style: solid;
  border-color: blue;

  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-left: 1px;
}
exp, exp1 tr{
  background-color: violet;
}
exp, exp1, exp2 {
  background-color: thistle;
}
plan{
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  line-height: 5;
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: yellow;

}
plan1{
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
  line-height: 5px;
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: yellow;
}
plan2{
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
  line-height: 5px;
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: yellow;
}
plan3{
  font: italic normal 25px/5px verdana, sans-serif;
}
pause{
  font:italic normal 25px/5px verdana, sans-serif;
}
french{
font-size: (5px);
}

span{
  display: inline;
  border: 1px solid black;
  
}
para{
  background-color: -webkit-linear-gradient(top left, red, orange, blue);
  background-color:  -o-linear-gradient(bottom right, red, orange, blue);
  background-color:  -moz-linear-gradient(bottom right, red, orange, blue);
  background-color: linear-gradient(to bottom right, red, orange, blue);
}

table{
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  padding: 10px;
}
tr:nth-child(even){
background-color: #FC427B;
}
tr:nth-child(odd){
background-color: orangered;
}


}
  
@media screen and(orientation: landscape) {
}
